
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HOME{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

{% block body %}

    <div align="center">
        <h3>Nombre de question: </h3>
        <P>Catégorie: {{ categorie }}</P>
        <a href="{{ categorie }}/10"><button class="btn btn-primary">10 Questions</button></a>
        <br><br>
        <a href="{{ categorie }}/20"><button class="btn btn-primary">20 Questions</button></a>
    </div>

{% endblock %}

</body>
</html>