{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>Email</th>
        <th>Rôles</th>
        <th>Modifier</th>
        <th>Supprimer</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                            Utilisateur
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur
                        {% endif %}
                    {% endfor %}
                </td>
                <td><a href="/admin/utilisateurs/modifier/{{ user.id }}"><button class="btn btn-warning">Modifier</button></a></td>
                <td><a href="/admin/utilisateurs/supprimer/{{ user.id }}"><button class="btn btn-danger">Supprimer</button></a></td>
            </tr>

        {% else %}
            <p>Aucun utilisateur inscrit</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}